[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-extensions = "*"
psycopg2-binary = "*"
python-decouple = "*"
boto3 = "*"
openpyxl = "*"
django-storages = {extras = ["s3"], version = "*"}

[dev-packages]
ruff = "*"
debugpy = "*"
ptpython = "*"
ipython = "*"

[requires]
python_version = "3.12"
