name: Deploy to AWS EC2

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to EC2 and Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            # 1. Move to the folder where manage.py is located
            cd ~/Projects/Placibo/gforms
            
            # 2. Pull the latest code from GitHub
            git pull origin main
            
            # 3. Kill the old server on Port 80
            sudo lsof -t -i:80 | xargs sudo kill -9 || true
            
            # 4. Start the server and prevent GitHub from waiting for the logs
            sudo nohup /home/ubuntu/.local/share/virtualenvs/Placibo-HhCy19eU/bin/python3 manage.py runserver 0.0.0.0:80 > /dev/null 2>&1 &