name: Deploy to AWS EC2

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to EC2 and Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            script: |
            # 1. Enter the correct folder we found in Warp
            cd ~/Placibo
            
            # 2. Get the new haridummy folder from GitHub
            git pull origin main
            
            # 3. Stop any old server
            sudo lsof -t -i:80 | xargs sudo kill -9 || true
            
            # 4. Start the server from the correct path
            sudo nohup /home/ubuntu/.local/share/virtualenvs/Placibo-HhCy19eU/bin/python3 manage.py runserver 0.0.0.0:80 > /dev/null 2>&1 &