name: Deploy to AWS EC2

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to EC2 and Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            # Enter the project root verified in Warp
            
            cd ~/Placibo
            
            # 1. Force the server to match GitHub exactly (This fixes the "no changes" issue)
            git fetch --all
            git reset --hard origin/main
            
            # 2. Kill the old process
            sudo lsof -t -i:80 | xargs sudo kill -9 || true
            
            # 3. Restart the server
            sudo nohup ./venv/bin/python3 manage.py runserver 0.0.0.0:80 > /dev/null 2>&1 &